#home{
 background-image: url(https://cdn.pixabay.com/photo/2010/12/13/10/18/background-2621_960_720.jpg)  ;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;

}
h1{
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 5%;
    font-size: 300px;
    font-family: 'Black Ops One', cursive;
}
marquee{
    direction: left;
    font-size: 60px;
    text-decoration: none;
    text-transform:uppercase;
    position:relative;
    color:white;    
    
}